@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Khand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  overflow: hidden;
}

header {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2f3841;
  background-image: url(../media/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

header .navbar {
  background-color: rgba(39, 39, 39, 0.822) !important;
}

header .titulo {
  height: 90%;
}

header .titulo img {
  position: absolute;
  bottom: 5%;
  left: 0%;
  right: 0;
  margin: 0 auto;
  -webkit-animation: shakeY;
          animation: shakeY;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

header .tx-titulo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .tx-titulo h1 {
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  color: #d5a13d;
  font-size: 7em;
  font-weight: 700;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(206, 89, 55, 0);
}

header .tx-titulo h1 span {
  color: #cfcfcf;
  font-size: .4em;
  font-weight: 400;
}

main .nosotros {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

main .nosotros .titulo-img {
  background-image: url(../media/11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .nosotros .titulo-img h3 {
  display: inline-block;
  width: 1000px;
  font-size: 4.5em;
  font-weight: 800;
  text-transform: uppercase;
  color: #d5a13d;
  position: relative;
  top: 5%;
  right: 25%;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.54);
}

main .nosotros .parrafo {
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .servicios {
  height: 110vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../media/2-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .servicios .contenedor-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .servicios h1 {
  font-size: 4.5em;
  font-weight: 700;
  padding: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(206, 89, 55, 0);
}

main .servicios .cortes {
  width: 60%;
  height: 50px;
  margin: 20px auto 30px;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .servicios .cortes p {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
}

main .galeria {
  height: 120%;
}

main .galeria .titulo-galeria {
  font-size: 4.5em;
  font-weight: 700;
  padding-bottom: 50px;
  color: #d5a13d;
  letter-spacing: 5px;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.54);
}

main .galeria img:hover {
  cursor: pointer;
  opacity: .9;
}

main .container-iframe {
  width: 100%;
  margin: 0  auto;
}

main .container-iframe .iframe {
  width: 100%;
}

main .contacto .video-contacto {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contacto .video-contacto video {
  width: 100%;
}

main .contacto .video-contacto #video-bg {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  position: relative;
  width: auto;
  min-width: 50%;
  height: auto;
}

main .contacto .video-contacto h1 {
  width: 100%;
  font-size: 4em;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.54);
  position: absolute;
  margin: 0 auto;
  z-index: 99;
}

.ico {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.ico:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/*MODAL*/
.modal .btn-close {
  opacity: 0.8;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.modal .modal-content {
  background-color: transparent !important;
  border: transparent !important;
}

.modal .modal-body {
  padding: 0 !important;
}

.modal .modal-dialog {
  width: 90% !important;
}

/* MEDIA QUERYS*/
@media screen and (max-width: 1000px) {
  .modal .modal-dialog {
    width: 90% !important;
  }
  header .navbar-nav {
    margin: 0% !important;
  }
  header .tx-titulo h1 {
    font-size: 4em;
  }
  header .tx-titulo h1 span {
    font-size: .8em;
  }
  main .nosotros {
    height: 100%;
  }
  main .nosotros .parrafo {
    padding: 10px;
  }
  main .nosotros .titulo-img {
    height: 80vh;
  }
  main .nosotros .titulo-img h3 {
    width: 100%;
    display: block;
    text-align: center;
    padding: 30px;
    letter-spacing: 5px;
    position: relative;
    top: 0%;
    right: 10%;
  }
  main .servicios h1 {
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  main .servicios {
    height: 130vh;
  }
  main .servicios .cortes {
    width: 90%;
  }
  main .nosotros .titulo-img h3 {
    position: relative;
    top: 0%;
    right: 33%;
  }
}
/*# sourceMappingURL=stilos.css.map */